RELEASE-VERSION
*.egg-info
*.hex
*.pyc
.ropeproject
setup.py
paver-minilib.zip
docs/build
dist/*
build/*
build.log
*/*_pb2.py
*_pb.h
*_pb.c
*/Arduino/*/*state_validate.h
*/Arduino/*/*config_validate.h
*/Arduino/*/*state_validate.h
*/Arduino/*/*RPCBuffer.h
*/Arduino/library
*/Arduino/*/NodeCommandProcessor.h
*.o
.sconsign.dblite
.ipynb_checkpoints
*/node.py
*/config.py
*~
*.swp
.project
.pydevproject
*.exe
.idea
